---
layout: main
title: Films
order: 3
icon: fa-video
permalink: /films/
---

<section class="film-genres">
    <h2>Genres</h2>

    <div class="content">
        <ul class="genres">
            {% for page in site.pages %}
                {% if page.film-genre %}
                <li>
                    <a href="{{ site.baseurl }}{{ page.permalink }}" class="genre">{{ page.film-genre }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>