<div class="footer-text">
    <h2>FilmRater</h2>
    <p>We are the best website about film reviews and also a great information source about upcoming films.</p>
</div>
<div class="contact-us">
    <h2>CONTACT US</h2>
    <ul>
        <li><i class="fas fa-mobile-alt"></i> <span>088 8888 888</span></li>
        <li><i class="fas fa-envelope"></i> <span>filmrater@gmail.com</span></li>
    </ul>
</div>
<div class="follow-us">
    <h2>FOLLOW US</h2>
    <ul>
        <li><a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
    </ul>
</div>

<p class="rights">All rights reserved &copy; 2019</p>