<div class="logo">
    <a href="{{site.baseurl}}/">
        FilmRater
    </a>
    <p class="slogan">Because we love films</p>
</div>
<nav class="site-nav">
    <ul>
        {% assign nav = site.pages | sort:"order" %}
        {% for item in nav %}
            {% if item.title %}    
            <li{% if item.url == page.url %} class="selected"{% endif %}
            {% if item.url != page.url %} class="animate"{% endif %}>
                <a href="{{ site.baseurl }}{{ item.url }}">
                    {% if item.icon %}<i class="fas {{ item.icon }}"></i>{% endif %}
                    {{ item.title }}
                </a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>