@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 0;
    }
}

@keyframes fadeInWithMovementAtRight{
    0%{
        opacity: 0;
        transform: translateX(-2rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInWithMovementAtLeft{
    0%{
        opacity: 0;
        transform: translateX(2rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes changeColorMainToSecond{
    0%{
        background-color: var(--site-main-color);
        color: var(--site-second-color);
    }

    100%{
        background-color: var(--site-second-color);
        color: var(--site-main-color);
    }
}

@keyframes changeColorSecondToMain{
    0%{
        background-color: var(--site-second-color);
        color: var(--site-main-color);
    }

    100%{
        background-color: var(--site-main-color);
        color: var(--site-second-color);
    }
}

/*Home page animations*/
@media(min-width: 1200px){
    header nav ul li{
        opacity: 0;
        animation: fadeInWithMovementAtRight 0.3s linear;
        animation-fill-mode: both;
    }

    header nav ul li:first-child{animation-delay: 0s;}
    header nav ul li:nth-child(2){animation-delay: 0.3s;}
    header nav ul li:nth-child(3){animation-delay: 0.6s;}
    header nav ul li:nth-child(4){animation-delay: 0.9s;}

    header nav ul li.animate a{
        animation: changeColorMainToSecond 0.3s linear;
        animation-fill-mode: both;
    }

    header nav ul li.animate a:hover{
        animation: changeColorSecondToMain 0.3s linear;
        animation-fill-mode: both;
    }

    .cta a{
        opacity: 0;
        animation: fadeIn 1.5s linear;
        animation-fill-mode: both;
        animation-delay: 1s;
    }

    .our-team ul li .member .media:after,
    .our-team ul li .member .media .info,
    .posts-headers .post .post-media:after
    {
        animation: fadeIn 0.6s linear;
        animation-fill-mode: both;
    }

    .our-team ul li .member .media:hover:after,
    .our-team ul li .member .media:hover .info,
    .posts-headers .post:hover .post-media:after{
        animation: fadeOut 0.8s linear;
        animation-fill-mode: both;
    }
}

/*About Page animations*/
.about-filmRater h3{
    opacity: 0;
    animation: fadeIn 1.5s linear;
    animation-fill-mode: both;
    animation-delay: 0.9s;
}

.other-posts h2{
    animation: fadeInWithMovementAtLeft 0.2s linear;
    animation-fill-mode: both;
    animation-delay: 1.2s;
}

.other-posts ul li{
    animation: fadeInWithMovementAtLeft 0.2s linear;
    animation-fill-mode: both;
}

.other-posts ul li:nth-child(1){ animation-delay: 1.4s; }
.other-posts ul li:nth-child(2){ animation-delay: 1.6s; }
.other-posts ul li:nth-child(3){ animation-delay: 1.8s; }
.other-posts ul li:nth-child(4){ animation-delay: 2s; }
.other-posts ul li:nth-child(5){ animation-delay: 2.2s; }
.other-posts ul li:nth-child(6){ animation-delay: 2.4s; }
.other-posts ul li:nth-child(7){ animation-delay: 2.6s; }
.other-posts ul li:nth-child(8){ animation-delay: 2.8s; }
.other-posts ul li:nth-child(9){ animation-delay: 3s; }
