@-webkit-keyframes fadeIn{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 1;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 0;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 0;
    }
}

@-webkit-keyframes fadeInWithMovement{
    0%{
        opacity: 0;
        transform: translateX(-2rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInWithMovement{
    0%{
        opacity: 0;
        transform: translateX(-2rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes changeColorMainToSecond{
    0%{
        background-color: var(--site-main-color);
        color: var(--site-second-color);
    }

    100%{
        background-color: var(--site-second-color);
        color: var(--site-main-color);
    }
}

@keyframes changeColorMainToSecond{
    0%{
        background-color: var(--site-main-color);
        color: var(--site-second-color);
    }

    100%{
        background-color: var(--site-second-color);
        color: var(--site-main-color);
    }
}

@-webkit-keyframes changeColorSecondToMain{
    0%{
        background-color: var(--site-second-color);
        color: var(--site-main-color);
    }

    100%{
        background-color: var(--site-main-color);
        color: var(--site-second-color);
    }
}

@keyframes changeColorSecondToMain{
    0%{
        background-color: var(--site-second-color);
        color: var(--site-main-color);
    }

    100%{
        background-color: var(--site-main-color);
        color: var(--site-second-color);
    }
}

/*Home page animations*/
@media(min-width: 1200px){
    header nav ul li{
        opacity: 0;
        -webkit-animation: fadeInWithMovement 0.3s linear;
                animation: fadeInWithMovement 0.3s linear;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
    }

    header nav ul li:first-child{-webkit-animation-delay: 0s;animation-delay: 0s;}
    header nav ul li:nth-child(2){-webkit-animation-delay: 0.3s;animation-delay: 0.3s;}
    header nav ul li:nth-child(3){-webkit-animation-delay: 0.6s;animation-delay: 0.6s;}
    header nav ul li:nth-child(4){-webkit-animation-delay: 0.9s;animation-delay: 0.9s;}

    header nav ul li a{
        -webkit-animation: changeColorMainToSecond 0.3s linear;
                animation: changeColorMainToSecond 0.3s linear;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
    }

    header nav ul li a:hover{
        -webkit-animation: changeColorSecondToMain 0.3s linear;
                animation: changeColorSecondToMain 0.3s linear;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
    }

    .cta a{
        opacity: 0;
        -webkit-animation: fadeIn 1.5s linear;
                animation: fadeIn 1.5s linear;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
        -webkit-animation-delay: 1s;
                animation-delay: 1s;
    }

    .our-team ul li .member .media:after,
    .our-team ul li .member .media .info{
        -webkit-animation: fadeIn 0.6s linear;
                animation: fadeIn 0.6s linear;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
    }

    .our-team ul li .member .media:hover:after,
    .our-team ul li .member .media:hover .info{
        -webkit-animation: fadeOut 0.8s linear;
                animation: fadeOut 0.8s linear;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
    }
}