@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif&display=swap");
:root {
  --site-main-color: rgb(208, 25, 25);
  --site-second-color: rgb(255, 255, 255);
  --site-third-color: rgb(0, 0, 0);
  --site-font-size-mobile: 14px;
  --site-font-size-larger: 16px;
  --site-content-font: 'PT Sans';
  --site-headings-font: 'PT Serif'; }

*, *:after, *:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

p {
  margin-bottom: 1rem; }

html {
  font-size: var(--site-font-size-mobile);
  line-height: 1.2;
  font-family: var(--site-content-font), sans-serif; }

input, button, blockquote {
  font-family: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: var(--site-headings-font), serif; }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 2.0rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

@media (min-width: 1160px) {
  html {
    font-size: var(--site-font-size-larger); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }

@-webkit-keyframes fadeInWithMovementAtRight {
  0% {
    opacity: 0;
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInWithMovementAtRight {
  0% {
    opacity: 0;
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@-webkit-keyframes fadeInWithMovementAtLeft {
  0% {
    opacity: 0;
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInWithMovementAtLeft {
  0% {
    opacity: 0;
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@-webkit-keyframes fadeInWithMovementAtBottom {
  0% {
    opacity: 0;
    transform: translateY(-2em); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeInWithMovementAtBottom {
  0% {
    opacity: 0;
    transform: translateY(-2em); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes changeColorMainToSecond {
  0% {
    background-color: var(--site-main-color);
    color: var(--site-second-color); }
  100% {
    background-color: var(--site-second-color);
    color: var(--site-main-color); } }

@keyframes changeColorMainToSecond {
  0% {
    background-color: var(--site-main-color);
    color: var(--site-second-color); }
  100% {
    background-color: var(--site-second-color);
    color: var(--site-main-color); } }

@-webkit-keyframes changeColorSecondToMain {
  0% {
    background-color: var(--site-second-color);
    color: var(--site-main-color); }
  100% {
    background-color: var(--site-main-color);
    color: var(--site-second-color); } }

@keyframes changeColorSecondToMain {
  0% {
    background-color: var(--site-second-color);
    color: var(--site-main-color); }
  100% {
    background-color: var(--site-main-color);
    color: var(--site-second-color); } }

@media (min-width: 1160px) {
  header nav ul li {
    opacity: 0;
    -webkit-animation: fadeInWithMovementAtRight 0.3s linear;
            animation: fadeInWithMovementAtRight 0.3s linear;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
    header nav ul li:nth-child(1) {
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }
    header nav ul li:nth-child(2) {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    header nav ul li:nth-child(3) {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s; }
    header nav ul li:nth-child(4) {
      -webkit-animation-delay: 0.9s;
              animation-delay: 0.9s; }
    header nav ul li.animate a {
      -webkit-animation: changeColorMainToSecond 0.3s linear;
              animation: changeColorMainToSecond 0.3s linear;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both; }
      header nav ul li.animate a:hover {
        -webkit-animation: changeColorSecondToMain 0.3s linear;
                animation: changeColorSecondToMain 0.3s linear;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both; }
  .our-team ul li .member .media:after,
  .our-team ul li .member .media .info,
  .posts-headers .post .post-media:after,
  .film-genres .media:after,
  .film-genres .media h2,
  .film-card .film-card-media:after {
    -webkit-animation: fadeIn 0.6s linear;
            animation: fadeIn 0.6s linear;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
  .our-team ul li .member .media:hover:after,
  .our-team ul li .member .media:hover .info,
  .posts-headers .post:hover .post-media:after,
  .film-genres a:hover .media h2,
  .film-genres a:hover .media:after,
  .film-card .film-card-media:hover:after {
    -webkit-animation: fadeOut 0.8s linear;
            animation: fadeOut 0.8s linear;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; } }

.cta a {
  opacity: 0;
  -webkit-animation: fadeIn 1.5s linear;
          animation: fadeIn 1.5s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

/*About Page animations*/
.about-filmRater h3 {
  opacity: 0;
  -webkit-animation: fadeIn 1.5s linear;
          animation: fadeIn 1.5s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s; }

.other-posts h2,
.other-films h2 {
  -webkit-animation: fadeInWithMovementAtLeft 0.2s linear;
          animation: fadeInWithMovementAtLeft 0.2s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s; }

.other-posts ul li {
  -webkit-animation: fadeInWithMovementAtLeft 0.2s linear;
          animation: fadeInWithMovementAtLeft 0.2s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
  .other-posts ul li:nth-child(1) {
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s; }
  .other-posts ul li:nth-child(2) {
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s; }
  .other-posts ul li:nth-child(3) {
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s; }
  .other-posts ul li:nth-child(4) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s; }
  .other-posts ul li:nth-child(5) {
    -webkit-animation-delay: 2.2s;
            animation-delay: 2.2s; }
  .other-posts ul li:nth-child(6) {
    -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s; }
  .other-posts ul li:nth-child(7) {
    -webkit-animation-delay: 2.6s;
            animation-delay: 2.6s; }
  .other-posts ul li:nth-child(8) {
    -webkit-animation-delay: 2.8s;
            animation-delay: 2.8s; }
  .other-posts ul li:nth-child(9) {
    -webkit-animation-delay: 3s;
            animation-delay: 3s; }

.other-films ul li {
  -webkit-animation: fadeInWithMovementAtLeft 0.2s linear;
          animation: fadeInWithMovementAtLeft 0.2s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
  .other-films ul li:nth-child(1) {
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s; }
  .other-films ul li:nth-child(2) {
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s; }
  .other-films ul li:nth-child(3) {
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s; }
  .other-films ul li:nth-child(4) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s; }
  .other-films ul li:nth-child(5) {
    -webkit-animation-delay: 2.2s;
            animation-delay: 2.2s; }
  .other-films ul li:nth-child(6) {
    -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s; }
  .other-films ul li:nth-child(7) {
    -webkit-animation-delay: 2.6s;
            animation-delay: 2.6s; }
  .other-films ul li:nth-child(8) {
    -webkit-animation-delay: 2.8s;
            animation-delay: 2.8s; }
  .other-films ul li:nth-child(9) {
    -webkit-animation-delay: 3s;
            animation-delay: 3s; }

@media (max-width: 1023px) {
  input:checked + nav ul {
    -webkit-animation: fadeInWithMovementAtBottom 0.2s linear;
            animation: fadeInWithMovementAtBottom 0.2s linear;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; } }

@media (max-width: 1023px) {
  input:checked + nav ul li {
    -webkit-animation: fadeInWithMovementAtBottom 0.2s linear;
            animation: fadeInWithMovementAtBottom 0.2s linear;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
    input:checked + nav ul li:nth-child(1) {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    input:checked + nav ul li:nth-child(2) {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    input:checked + nav ul li:nth-child(3) {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    input:checked + nav ul li:nth-child(4) {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    input:checked + nav ul li:nth-child(5) {
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
    input:checked + nav ul li:nth-child(6) {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s; }
    input:checked + nav ul li:nth-child(7) {
      -webkit-animation-delay: 0.7s;
              animation-delay: 0.7s; }
    input:checked + nav ul li:nth-child(8) {
      -webkit-animation-delay: 0.8s;
              animation-delay: 0.8s; }
    input:checked + nav ul li:nth-child(9) {
      -webkit-animation-delay: 0.9s;
              animation-delay: 0.9s; } }

.cta {
  text-align: center;
  padding: 14rem 3rem;
  background: url(https://heimkino-partner.de/wp-content/uploads/2016/12/gui-zappiti-movie-wall-en-1920x1080.jpg) center center;
  background-size: cover;
  position: relative;
  z-index: 1; }
  .cta:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1; }
  .cta p, .cta a {
    z-index: 2; }
  .cta p {
    color: var(--site-second-color);
    font-size: 2.5rem; }
  .cta div {
    width: 50%;
    margin: 0 auto;
    padding-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    @media (max-width: 1023px) {
      .cta div {
        width: 100%; } }
  .cta a {
    background: var(--site-main-color);
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--site-second-color);
    flex: 0 0 55%;
    padding: 1rem;
    border: 2px solid var(--site-main-color); }
    @media (max-width: 1023px) {
      .cta a {
        flex: 1 1 100%; } }
    .cta a:nth-child(1) {
      margin-bottom: 2rem; }
    .cta a:hover {
      background-color: var(--site-second-color);
      color: var(--site-main-color); }

.our-team {
  width: 80%;
  margin: 6rem auto;
  padding: 0 2rem; }
  @media (max-width: 1023px) {
    .our-team ul {
      flex-wrap: wrap; } }
  .our-team li {
    flex: 0 0 22%;
    list-style: none; }
    @media (max-width: 1023px) {
      .our-team li {
        flex: 1 1 100%; } }
    @media (max-width: 1023px) {
      .our-team li:not(:last-child) {
        margin-bottom: 3rem; } }
    .our-team li .member {
      text-align: center; }
      .our-team li .member .media {
        max-width: 300px;
        max-height: 400px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        border-radius: 5px;
        box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.75); }
        @media (max-width: 1023px) {
          .our-team li .member .media {
            width: 80%;
            margin: 0 auto; } }
        .our-team li .member .media:hover {
          cursor: pointer; }
        .our-team li .member .media:after {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.5);
          pointer-events: none; }
        .our-team li .member .media .info {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 2;
          color: var(--site-second-color);
          text-align: center;
          width: 100%;
          padding: 0 0.5rem; }
        .our-team li .member .media h2 {
          margin-bottom: 2rem; }
        .our-team li .member .media a img {
          display: block;
          width: 100%;
          height: auto; }

.our-team h2,
.reviews-about-us h2 {
  text-align: center;
  font-size: 4rem;
  color: var(--site-main-color);
  margin-bottom: 0.5rem; }

.our-team h3,
.reviews-about-us h3 {
  text-align: center;
  margin-bottom: 3rem; }

.our-team ul,
.reviews-about-us ul {
  display: flex;
  justify-content: space-evenly; }

.newsletter {
  padding: 2rem 1rem;
  background-color: var(--site-main-color);
  text-align: center;
  margin: 2rem 0; }
  .newsletter h2 {
    color: var(--site-second-color);
    margin-bottom: 2rem; }
  .newsletter form p {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    @media (max-width: 1023px) {
      .newsletter form p {
        width: 70%; } }
    .newsletter form p input {
      border-radius: 5px; }
      @media (max-width: 1159px) {
        .newsletter form p input {
          flex: 1 1 100%; } }
      .newsletter form p input[type='email'] {
        padding: 0.4rem;
        flex: 0 0 80%;
        margin-bottom: 1rem; }
      .newsletter form p input[type='submit'] {
        flex: 0 0 25%;
        background: var(--site-second-color);
        outline: none;
        border: none;
        color: var(--site-main-color);
        font-weight: bold;
        cursor: pointer;
        padding: 0.5rem 0; }
        @media (max-width: 1023px) {
          .newsletter form p input[type='submit'] {
            flex: 0 0 40%; } }

.reviews-about-us {
  width: 80%;
  margin: 6rem auto; }
  @media (max-width: 1023px) {
    .reviews-about-us ul {
      flex-wrap: wrap; } }
  .reviews-about-us ul li {
    text-align: center;
    flex: 0 0 30%;
    list-style: none; }
    @media (max-width: 1023px) {
      .reviews-about-us ul li {
        flex: 1 1 100%; } }
  .reviews-about-us .testimonial img {
    display: block;
    width: 100%;
    height: auto; }
  .reviews-about-us .testimonial .media {
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;
    border-radius: 100%;
    margin: 2rem auto;
    box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.75);
    position: relative; }
    .reviews-about-us .testimonial .media:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.2); }
  .reviews-about-us .testimonial h4 {
    margin-bottom: 1rem; }
  .reviews-about-us .testimonial p {
    font-style: italic;
    font-size: 1.2rem; }

.about-filmRater {
  padding: 6rem 4rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background: url(http://getwallpapers.com/wallpaper/full/f/1/b/375459.jpg) center center;
  background-size: center;
  position: relative;
  z-index: 1; }
  .about-filmRater:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; }
  .about-filmRater h2 {
    margin-bottom: 2rem;
    font-size: 4rem;
    color: var(--site-main-color);
    z-index: 2; }
  .about-filmRater h3 {
    color: var(--site-second-color);
    line-height: 1.5;
    z-index: 2; }

.about {
  padding: 4rem 0;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  .about .about-person {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.75);
    overflow: hidden; }
  .about .about-person:not(:last-child) {
    margin-bottom: 8rem; }
  .about .media {
    overflow: hidden;
    width: 70%;
    max-width: 400px;
    flex: 0 0 50%; }
  .about img {
    display: block;
    width: 100%;
    height: auto; }
  .about .content {
    flex: 1 1 50%;
    padding: 2rem;
    background-color: var(--site-main-color);
    color: var(--site-second-color);
    padding: 10% 2%; }
    .about .content h2 {
      font-size: 3rem;
      text-align: center;
      margin-bottom: 2rem; }
    .about .content ul {
      width: 60%;
      margin: 0 auto; }
    .about .content li {
      list-style: none;
      font-weight: 400; }
      .about .content li span {
        font-weight: bold;
        font-size: 1.2rem; }
    .about .content li:not(:last-child) {
      margin-bottom: 0.5rem; }

.film-genres {
  width: 70%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem; }
  .film-genres .section-title {
    grid-column: 1 / span 2;
    font-size: 4rem;
    color: var(--site-main-color);
    text-align: center; }
  .film-genres .content {
    grid-column: 1 / span 2; }
  .film-genres .media {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.75);
    z-index: -1; }
    .film-genres .media h2 {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      text-decoration: none;
      color: var(--site-second-color);
      font-size: 3rem; }
    .film-genres .media:before {
      display: block;
      content: '';
      padding-top: 56.25%; }
    .film-genres .media:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1; }
  .film-genres img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.genres {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 4rem; }
  .genres li {
    list-style: none; }

.films {
  width: 60%;
  margin: 0 auto; }
  .films h2 {
    text-align: center;
    font-size: 4rem;
    color: var(--site-main-color);
    margin-bottom: 4rem; }

.film-card {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 4rem;
  grid-gap: 2rem;
  border: 2px solid var(--site-main-color);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.75); }
  .film-card .film-card-media {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.75); }
    .film-card .film-card-media:before {
      display: block;
      content: '';
      padding: 75%; }
    .film-card .film-card-media:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      pointer-events: none; }
  .film-card img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .film-card .film-card-content .title {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .film-card .film-card-content a {
    text-decoration: none;
    color: var(--site-main-color); }
    .film-card .film-card-content a:hover {
      text-decoration: underline; }
  .film-card .film-card-content .rating {
    margin-bottom: 2rem; }
    .film-card .film-card-content .rating i {
      color: var(--site-main-color); }
  .film-card span {
    color: var(--site-main-color);
    font-weight: bold; }
  .film-card .title span {
    color: var(--site-third-color);
    font-weight: 500; }

.film-page {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 2rem 4rem; }
  .film-page .film {
    grid-row: 1 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem; }
    .film-page .film .heading {
      grid-column: 1 / span 3;
      grid-row: 1 / span 1;
      text-align: center; }
      .film-page .film .heading h2 {
        font-size: 3rem;
        color: var(--site-main-color); }
      .film-page .film .heading p {
        color: var(--site-third-color);
        font-size: 2rem;
        font-weight: 900; }
    .film-page .film iframe {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1; }
    .film-page .film .main-content {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1; }
    .film-page .film p {
      font-size: 1.5rem;
      line-height: 1.5; }
    .film-page .film .info {
      margin-bottom: 4rem; }
      .film-page .film .info span {
        color: var(--site-main-color);
        font-weight: bold; }
      .film-page .film .info i {
        color: var(--site-main-color); }
  .film-page aside h2 {
    color: var(--site-main-color);
    text-align: center;
    margin-bottom: 2rem; }
  .film-page aside ul li:not(:last-child) {
    margin-bottom: 1rem; }
  .film-page .review h2 {
    text-align: center;
    color: var(--site-main-color);
    font-size: 3rem;
    margin-bottom: 2rem; }
  .film-page .review .author {
    margin-top: 3rem;
    color: var(--site-main-color);
    font-weight: bold; }

.author span {
  font-style: italic;
  color: var(--site-third-color); }

.blog {
  width: 50%;
  margin: 0 auto;
  padding: 2rem 0; }
  .blog-title {
    text-align: center;
    font-size: 4rem;
    color: var(--site-main-color);
    margin-bottom: 6rem; }
  .blog .posts-headers li {
    list-style: none; }
    .blog .posts-headers li:not(:last-child) {
      margin-bottom: 10rem; }

.post {
  text-decoration: none;
  color: var(--site-third-color); }
  .post-title {
    color: var(--site-main-color);
    margin-bottom: 1rem;
    text-decoration: none;
    font-size: 2rem; }
  .post:hover .post-title {
    text-decoration: underline; }
  .post-subtitle {
    margin-bottom: 2rem; }
  .post-metadata {
    text-align: end;
    padding-right: 3rem;
    margin-bottom: 2rem; }
  .post-author {
    color: var(--site-main-color); }
  .post-media {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.75);
    margin-bottom: 2rem; }
    .post-media:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.3); }
    .post-media img {
      max-height: 600px;
      width: 100%;
      height: auto;
      display: block; }
    .post-header:hover .post-media:after {
      opacity: 0; }

.blog-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 4rem;
  padding: 2rem 4rem; }
  .blog-page .post-title {
    text-decoration: none; }

.post {
  grid-row: 1 / span 3; }

.share {
  font-weight: bold;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 4rem; }
  .share ul {
    display: flex;
    justify-content: center; }
  .share li {
    list-style: none;
    text-align: center; }
    .share li:not(:last-child) {
      margin-right: 2rem; }
    .share li i {
      font-size: 3rem;
      cursor: pointer; }
  .share .facebook i {
    color: #4267b2; }
  .share .twitter i {
    color: #1da1f2; }

.post-content {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 4rem; }

aside {
  padding: 2rem;
  grid-row: 1 / span 2;
  border-radius: 10px; }
  aside h2 {
    color: var(--site-main-color);
    text-align: center;
    margin-bottom: 4rem; }
  aside li {
    list-style: none; }
    aside li:not(:last-child) {
      margin-bottom: 2rem; }
  aside a {
    color: var(--site-third-color);
    font-size: 1.4rem;
    text-decoration: none; }
    aside a:hover {
      text-decoration: underline; }

header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header input {
    opacity: 0;
    pointer-events: none; }
  header label {
    display: none; }
    @media (max-width: 1159px) {
      header label {
        display: block; } }
    header label i {
      color: var(--site-main-color);
      font-size: 2rem; }
    header label span {
      color: var(--site-main-color);
      font-size: 2rem; }
  header div.logo {
    flex: 0 0 30%;
    margin-right: auto; }
    header div.logo a {
      text-decoration: none;
      color: var(--site-main-color);
      font-weight: bold;
      font-family: 'PT Sans';
      font-size: 2rem; }
    header div.logo p {
      color: var(--site-main-color); }
  header nav {
    flex: 0 0 70%;
    height: 100%;
    display: flex; }
    header nav ul {
      display: flex;
      flex: 1 1 100%;
      justify-content: space-evenly; }
    header nav li {
      list-style: none;
      display: block;
      text-align: center;
      flex: 0 0 18%; }
    header nav a {
      text-decoration: none;
      display: block;
      color: var(--site-main-color);
      font-size: 1.4rem;
      padding: 0.5rem;
      border: 2px solid var(--site-main-color);
      border-radius: 10px; }
      header nav a:hover {
        background-color: var(--site-main-color);
        color: var(--site-second-color); }

.selected a {
  background-color: var(--site-main-color);
  color: var(--site-second-color); }

@media (max-width: 1159px) {
  header {
    flex-wrap: wrap; }
  header div.logo {
    flex: 1 1 100%;
    margin-right: 0;
    text-align: center; }
  header div.logo a {
    font-size: 3.5rem; }
  header div.logo p {
    font-size: 2rem; }
  header nav {
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 100%; }
  nav label {
    margin-bottom: 1rem; }
  input + nav ul {
    display: none; }
  input + nav label span.open {
    display: inline;
    font-weight: bold; }
  input + nav label span.close {
    display: none; }
  input:checked + nav label span.close {
    display: inline;
    font-weight: bold; }
  input:checked + nav a {
    padding: 1rem 0; }
  input:checked + nav label span.open {
    display: none; }
  input:checked + nav ul {
    display: block;
    border-top: 2px solid var(--site-main-color);
    border-bottom: 2px solid var(--site-main-color); }
  header nav ul li:first-child {
    margin-top: 0.5rem; }
  header nav ul li {
    margin-bottom: 0.5rem;
    cursor: pointer; } }

footer {
  background: var(--site-main-color);
  color: var(--site-second-color);
  padding: 1rem;
  display: grid;
  grid-template-columns: [content-start] repeat(3, 1fr) [content-end];
  grid-template-rows: 100px 20px; }
  @media (max-width: 1023px) {
    footer {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, 1fr) 20px;
      grid-gap: 1rem; } }
  footer h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.6rem; }
  footer .footer-text {
    text-align: center; }
    footer .footer-text h2 {
      margin-bottom: 0.5rem; }
  @media (max-width: 1023px) {
    footer .contact-us {
      grid-row: 2 / span 1; } }
  @media (max-width: 1023px) {
    footer .contact-us h2 {
      margin-bottom: 0.5rem; } }
  footer .contact-us ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    footer .contact-us ul li {
      list-style: none;
      flex: 0 0 45%;
      text-align: center; }
      @media (max-width: 1159px) {
        footer .contact-us ul li {
          flex: 1 1 100%;
          margin-bottom: 1rem; } }
  @media (max-width: 1023px) {
    footer .follow-us {
      grid-row: 3 / span 1; } }
  footer .follow-us ul {
    display: flex;
    justify-content: center; }
  footer .follow-us li {
    list-style: none;
    flex: 0 0 10%;
    text-align: center; }
  footer .follow-us i {
    color: var(--site-second-color);
    font-size: 1.5rem; }
    @media (max-width: 1023px) {
      footer .follow-us i {
        font-size: 2rem; } }
  footer .rights {
    text-align: center;
    grid-column: content-start / content-end;
    margin-bottom: 0; }
    @media (max-width: 1023px) {
      footer .rights {
        grid-row: 4 / span 1;
        text-align: center;
        grid-column: 1 / span 1; } }
