<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.film-title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>
<body>
    <div class="site">
        <header class="site-header">
            {% include header.html %}
        </header>

        <main class="film-page">
            <section class="film">
                <div class="heading">
                    <h2>{{ page.film-title }}</h2>
                    <p>{{ page.year }}</p>
                </div>
                <iframe width="840" height="630"  src="{{ page.trailer }}">
                </iframe>
                <div class="main-content">
                    <div class="info">
                        <p class="duration"><span>Duration:</span> {{ page.duration }}</p>
                        <p class="rating"><i class="fas fa-star"></i> {{ page.rating}} / 10</p>
                        <p class="resume">{{ page.resume }}</p>
                        <p class="director"><span>Director:</span> {{ page.director }}</p>
                        <p class="stars"><span>Stars:</span> {{ page.stars }}</p>
                    </div>
                    <div class="review">
                        <h2>Review</h2>
                        {{ content }}
                    </div>
                </div>
            </section>

            <aside class="other-films">
                <h2>Other films: </h2>
                <ul>
                    {% for film in site.pages %}
                    {% if film.genre and page.genre contains film.genre and film.film-title != page.film-title %}
                    <li>
                        <a href="{{ site.baseurl }}{{ film.permalink }}">{{film.film-title}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </aside>
        </main>

        <footer class="site-footer">
            {% include footer.html %}
        </footer>
    </div>
</body>
</html>