<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <title>{{page.title}} - FilmRater</title>
</head>

<body>
    <div class="site">
        <header class="site-header">
            {% include header.html %}
        </header>


        {% if page.order %}
            <main class="site-main">
                {{content}}
            </main>
        {% elsif page.film-title %}
            {% include film.html %}
        
        {% elsif page.film-genre %}
            {% include film-genre.html %}
        
        {% elsif page.author %}
            {% include post.html %}
        {% endif %}


        <footer class="site-footer">
            {% include footer.html %}
        </footer>
    </div>
</body>

</html>