<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="site">
        <header class="site-header">
            {% include header.html %}
        </header>

        <main class="blog-page">
            <section class="post">
                <h2 class="post-title"> {{ page.title }}</h2>
                <h5 class="post-subtitle">{{ page.subtitle }}</h5>
                <h6 class="post-metadata"> <span class="post-author">{{ page.author }}</span> {{ page.writeDate }}</h6>
                <div class="share">
                    <ul>
                        <li class="facebook"><i class="fab fa-facebook-square"></i></li>
                        <li class="twitter"><i class="fab fa-twitter-square"></i></li>
                        <li class="link"><i class="fas fa-link"></i></li>
                    </ul>
                </div>
                <div class="post-media">
                    <img src="{{ page.img }}" alt="blog post image">
                </div>
                <div class="post-content">
                    {{ content }}
                </div>
            </section>

            <aside class="other-posts">
                <h2>Other posts: </h2>
                <ul class="remaining-posts">
                    {% for post in site.posts %}
                    {% if post.title != page.title %}
                    <li>
                        <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </aside>
        </main>

        <footer class="site-footer">
            {% include footer.html %}
        </footer>
    </div>
</body>
</html>