:root{
    --site-main-color: rgb(208, 25, 25);
    --site-second-color: rgb(255, 255, 255);
    --site-third-color: rgb(0, 0, 0);
    --site-font-size-mobile: 14px;
    --site-font-size-larger: 16px;
    --site-content-font: 'PT Sans';
    --site-headings-font: 'PT Serif';
}